.images{
    background-image: url('./img/istockphoto.jpg ');
    
    width: 18rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.images2{
    background-image: url('./img/istockphoto.jpg');
    width:100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left    : 10px;
    text-align: center;
    
}
.images3{
    background-image: url('./img/istockphoto.jpg');
    width:100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left    : 10px;
    text-align: right;

}
/* Add this to your CSS file */
.full-height {
    height: 100vh;
  }
  
  .full-height-row {
    height: 100%;
  }
  